
.mapCanvas {
    display: block;
	border: 1px solid #ccc;
	margin: 3%;
	width: 95vw;
	height: 95vh;
	background: #fff;
}

.separator {
	margin: 5px;
	width: 1px;
	height: 1px;
}

.table_number {
	float: right;
	margin-right: 5%;
}

.page.transition.center {
	background-color: #FCFCFC;
}

ul.collection {
	text-align: left;
}

.collapsible-header:active {
    background-color: #26A69A;
    color: white;
    transition: all 0.3s;
}

.datepicker {
    text-align: center;
}

.collapsible-header {
	text-align:left;
}

.collapsible-header i {
	float: right;
}

.progress {
	margin: 0;
}

.hidden {
	display: none;
}

.collapse-btn {
	background-color: #26a69a;
	color: white;
}

.finished {
	background-color: #c5c5c5;
}

.header {
	text-transform: capitalize;
	color: #ee6e73;
    font-weight: 300;
}

.capitalize {
	text-transform: capitalize;
}

.wrapper {
	padding: 0 10px;
}

.card-content:not(:first-child) {
    border-top: 1px solid rgba(160,160,160,0.2);
}