#finance-nav-wrapper {
	background: #1fe5bd;
}

#finance-tab {
    background: #64edd1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #64edd1, #aff2d6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #64edd1, #aff2d6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #64edd1, #aff2d6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #64edd1, #aff2d6); /* Standard syntax (must be last) */
}

#finance-tab a {
	color: green;
}

#finance-tab a.active {
	font-weight: bold;
}

#finance-tab  .indicator {
	background-color: green;
}

.thin {
	font-weight: 100;
}

.semi-thin {
	font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.subtext {
	color: gray;
}
input {
	color:black !important;
}

.grayText { 
	color: #a6a6a6;
}
.mapCanvas {
    display: block;
	border: 1px solid #ccc;
	margin: 3%;
	width: 95vw;
	height: 95vh;
	background: #fff;
}

.separator {
	margin: 5px;
	width: 1px;
	height: 1px;
}

.table_number {
	float: right;
	margin-right: 5%;
}

.page.transition.center {
	background-color: #FCFCFC;
}

ul.collection {
	text-align: left;
}

.collapsible-header:active {
    background-color: #26A69A;
    color: white;
    transition: all 0.3s;
}

.datepicker {
    text-align: center;
}

.collapsible-header {
	text-align:left;
}

.collapsible-header i {
	float: right;
}

.progress {
	margin: 0;
}

.hidden {
	display: none;
}

.collapse-btn {
	background-color: #26a69a;
	color: white;
}

.finished {
	background-color: #c5c5c5;
}

.header {
	text-transform: capitalize;
	color: #ee6e73;
    font-weight: 300;
}

.capitalize {
	text-transform: capitalize;
}

.wrapper {
	padding: 0 10px;
}

.card-content:not(:first-child) {
    border-top: 1px solid rgba(160,160,160,0.2);
}

.picker {
  position: fixed ;
  z-index: 10000 ;
}

div.ui-datepicker{
 font-size: 7px;
}